In [7]:
import numpy as np
import pandas as pd
import ssl
from sklearn.preprocessing import LabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

ssl._create_default_https_context = ssl._create_unverified_context
titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [12]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [449]:
clean_titanic = titanic_df.drop(columns=['Cabin', 'Ticket', 'PassengerId','Name'])

In [450]:
clean_titanic['sex_numbers'] = clean_titanic['Sex'].map({'female':1, 'male':0})

In [451]:
clean_titanic['embarked_numbers'] = clean_titanic['Embarked'].map({'S':1,'Q':2 ,'C':0})

In [452]:
clean_titanic = clean_titanic.replace(np.nan, 0)

In [453]:
y = clean_titanic['Survived']

pd.get_dummies(y)

     0  1
0    1  0
1    0  1
2    0  1
3    0  1
4    1  0
..  .. ..
886  1  0
887  0  1
888  1  0
889  0  1
890  1  0

[891 rows x 2 columns]

In [454]:
clean_titanic = clean_titanic.drop(columns=['Sex', 'Embarked'])

In [455]:
clean_titanic = clean_titanic.replace(np.nan, 0)

In [456]:
y = LabelBinarizer().fit_transform(y)

In [457]:
X = clean_titanic.loc[:,clean_titanic.columns!='Survived']

In [458]:
X = X.to_numpy()

In [459]:
type(X)

numpy.ndarray

In [460]:
X[:5]

array([[ 3.    , 22.    ,  1.    ,  0.    ,  7.25  ,  0.    ,  1.    ],
       [ 1.    , 38.    ,  1.    ,  0.    , 71.2833,  1.    ,  0.    ],
       [ 3.    , 26.    ,  0.    ,  0.    ,  7.925 ,  1.    ,  1.    ],
       [ 1.    , 35.    ,  1.    ,  0.    , 53.1   ,  1.    ,  1.    ],
       [ 3.    , 35.    ,  0.    ,  0.    ,  8.05  ,  0.    ,  1.    ]])

In [461]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1, random_state=42)

In [462]:
from sklearn.cluster import AffinityPropagation
from sklearn.metrics import accuracy_score

In [463]:
knn_model = KNeighborsClassifier(n_neighbors=1)

In [1]:
knn_model.fit(X_train,y_train)

NameError: name 'knn_model' is not defined

In [465]:

predictions = knn_model.predict(X_test)

In [466]:
score = accuracy_score(y_test, predictions)

In [467]:
score

0.6666666666666666