In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearning
titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [3]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
clean_titanic = titanic_df.drop(columns =['Cabin', 'Ticket', 'PassengerId', 'Name'])

In [10]:
clean_titanic.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [16]:
sex_numbers = clean_titanic['Sex'].map({'female' : 1, 'male': 0})

sex_numbers

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [18]:
embark_numbers = clean_titanic['Embarked'].map({'C' : 0, 'S': 1, 'Q':2})

embark_numbers

0      1.0
1      0.0
2      1.0
3      1.0
4      1.0
      ...
886    1.0
887    1.0
888    1.0
889    0.0
890    2.0
Name: Embarked, Length: 891, dtype: float64

In [19]:
from sklearn.preprocessing import LabelBinarizer
from sklearn.model_selection import train_test_split

ImportError: DLL load failed: The specified procedure could not be found.